  <div class="container-fluid" [hidden] ="submitStatus">
        <div class="row">
           
            <div class="col-lg-10" >
                <div class="card">
                    <div class="header">
                        <h4 class="title">Product Form</h4>
                    </div>
                    <div class="content">
                        <form #productForm="ngForm" (ngSubmit)= "onSubmit()">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>ProductName</label>
                                        <input type ="text" name="Name" 
                                        [(ngModel)]="model.productname" required #name="ngModel" class="form-control border-input">
                                        <div *ngIf="!name.valid" class="ng-valid" required> Productname is required</div>
                                          </div>
                                    </div>
              
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Vendorname</label>
                                        <input placeholder=" " type ="text" name="vendorName" 
                                          [(ngModel)]="model.vendorname" required #vname="ngModel" class="form-control border-input">
                                          <div *ngIf="!vname.valid" class="ng-valid" required> Vendorname is required</div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row">
                              
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="contact">Contact</label>
                                       <input type = "text"  name = "contact"
                                              [(ngModel)] = "model.contact" required #contact ="ngModel" class="form-control border-input">
                                              <div *ngIf="!contact.valid" class="ng-valid" required> Contact is required</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>ProductType</label>
                                       <select  class="form-control border-input"  [(ngModel)] = "model.producttype" #prtype="ngModel" name = "producttype">
                                          <option *ngFor="let type of productypes" >{{type}}</option>
                                        </select>
                                        <div *ngIf="!prtype.valid" class="ng-valid" required>Select a Type</div>
                                    </div>
                                </div>
                          
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" >
                                        <label>Address</label>
                                        <textarea name= "address"
                                            [(ngModel)] = "model.address" required #address ="ngModel" class="form-control border-input">
                                            <div class="md-errors-spacer" [hidden]="address.valid || address.untouched">
                                            <div  *ngIf="address.errors">
                                            <div *ngIf="address?.errors.required">
                                                Email is required
                                            </div>
                                          </div>
                                        </div>
                                        </textarea>
                                  
                                     </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>E-Mail</label>
                                        <input type="email" id="contactemail" name="contactemail"
                                          required pattern="[a-zA-Z0-9.-]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                                          [(ngModel)]="model.email" #contactemail="ngModel" class="form-control border-input" />
                                        <div class="md-errors-spacer" [hidden]="contactemail.valid || contactemail.untouched">
                                            <div  *ngIf="contactemail.errors">
                                            <div *ngIf="contactemail?.errors.required">
                                                Email is required
                                            </div>
                                              <div  *ngIf="contactemail?.errors.pattern">
                                                  Email is invalid
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Price</label>
                                       <input type ="number" name="Price" 
                                        [(ngModel)]="model.price" required #price="ngModel" class="form-control border-input">
                                        <div *ngIf="!price.valid" class="ng-valid" required> Price is required</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Quantity</label>
                                        <input type ="number" name="Quantity" 
                                            [(ngModel)]="model.quantity" required #qty="ngModel" class="form-control border-input">
                                            <div *ngIf="!qty.valid" class="ng-valid" required> quantity is required</div>
                                    </div>
                                </div>
                            </div>

                          
                            <div class="text-center">
                                <button type="submit" class="btn btn-info btn-fill btn-wd" [disabled]="!productForm.valid" >Register Product</button>
                            </div>
                            
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div [hidden]= "!submitStatus">
  <h2>Product Registered.</h2>
  <div>
  {{model.productname}};
  </div>
  <div>
  {{model.producttype}};
  </div>
  <div>
  {{model.vendorname}};
  </div>
  <div>
  {{model.contact}};
  </div>
  <div>
  {{model.address}};
  </div>
  <div>
  {{model.email}};
  </div>
</div>